<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>redFlag</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="~/css/index.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/img/emg.jpg" type="image/x-icon">
</head>

<body>
    <div class="master">
        <div class="phone-head">
            <img src="~/img/phone.JPG" />
        </div>

        <div class="container">

            <div class="up"></div>

            <div class="middle">
                <div class="redflag-logo">
                    <img src="~/img/emg.jpg" alt="">
                </div>
                <div class="redflag-name">
                    <h3>redFlag</h3>
                </div>
            </div>

            <div class="render">
                <main role="main">
                    @RenderBody()
                </main>
            </div>

            <div class="down"></div>

        </div>

        <div class="phone-down">
            <ul>
                <li><i class="fa-solid fa-house-chimney"></i></li>
                <li><i class="fa-solid fa-location-dot"></i></li>
                <li><i class="fa-solid fa-circle-chevron-left"></i></li>
            </ul>
        </div>
    </div>

    
    

    <script src="~/js/script.js"></script>
</body>

</html>
