
@{ Layout = "~/Views/Shared/_SuperLanding.cshtml";
    ViewData["Title"] = "User Login"; }


<section>
    <h5>RECENT EMERGENCIES</h5>

    <div>
        <div class="emergency">

        </div>
        <div class="emergency">

        </div>
        <div class="emergency">

        </div>
    </div>
</section>
