@model IEnumerable<redFlag.Dtos.RoleDto>
@{ Layout = "~/Views/Shared/_SuperLanding.cshtml";
    ViewData["Title"] = "Create Agency"; }


<section>

    <table>
        <thead>
            <tr>
                <th>NAME</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>
                        @role.Name
                    </td>
                    <td>
                        <p>delete</p>
                    </td>


                </tr>
            }

        </tbody>


    </table>

</section>


